footer {
  text-align: center;
  width: 100%;
  border-bottom: 25px solid green;
}

/*
.footer {
    border-bottom: 25px solid green;
}
*/

.article {
    margin-top: 50px;
}

.admin-table {
    width: 100%;
}

.wrapper {
    min-height: 600px;
}

.admin_in {
    float: right;
    position: relative;
    top: -40px;
}


.wrapper__form {
    width: 100%;
    margin: 0 auto;
}
.form {
    background: #eee;
    padding: 20px;
    font-family: Helvetica, arial, sans-serif;
}

form fieldset {
   padding: 40px;
    border: 5px solid #green;
}
form input, form textarea {
    display: block;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
    
}

form label {
    font-size: 12px;
    text-transform: uppercase;
}

form input[type="text"] {
    padding: 10px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    border: 1px solid #b90707;
}

textarea {
/*    width: 500px;*/
    height: 350px;
}

form input[type="submit"] {
    border: none;
    height: 40px;
    padding: 0 20px;
    background-color: slategrey;
    border: 1px solid #d4730c;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    
}


.admin {
     display: flex;
     flex-direction: column;
     width: 300px;
}

.header {
   text-align: center;
    background-color: aquamarine;
    height: 100px
}


.form-item {
    width: 930px;
}

tr {
    border: 3px solid #eee;
}


.btn {
    display: block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: green; 
    border: 1px solid red; 
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s 
}