<table border="1">
    <tr>
        <th>Дата</th>
        <th>Заголовок</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>2019-20-03</th>
        <th>Заголовок</th>
        <th>
            <a href="#">Редактирование</a>
        </th>
        <th>
            <a href="#">Удалить</a>
        </th>
    </tr>
    <tr>
    <th>2019-20-03</th>
        <th>Заголовок 2</th>
        <th>
            <a href="#">Редактирование</a>
        </th>
        <th>
            <a href="#">Удалить</a>
        </th>
    </tr>
    <tr>
        <th>2019-20-03</th>
        <th>Заголовок 3</th>
        <th>
            <a href="#">Редактирование</a>
        </th>
        <th>
            <a href="#">Удалить</a>
        </th>
    </tr>
</table>